<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="robots" content="index,follow" />
<title>todolist</title>
<meta name="description" content="説明文" />
<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<link rel="icon" href="./dist/img/favicon.ico">
<link rel="apple-touch-icon" href="./dist/img/apple-touch-icon.jpg" sizes="180x180">
<link rel="stylesheet" href="./dist/css/destyle.css">
<link rel="stylesheet" href="./dist/css/styles.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" >

<style>
  [v-cloak] {
    display: none;
  }

</style>
<script src="https://unpkg.com/vue/dist/vue.js"></script>


</head>

<body>

  <section id="app">
    <header class="header">
      <h1 class="title">
          TaskList
      </h1>
    </header>
    <!-- /.header -->
    <main class="contents" role="main" >
      <section class="new-input-container">
        <div class="wrapper">
          <input 
            type="text" 
            class="new-task"
            placeholder="こちらに入力して、Enterキーで確定"
            autofocus
            autocomplete="off"
            v-model="newTask"
            @keypress.enter="addTask"
          >
        </div>
      </section>

      <section class="tasklist">

        <section class="task-section">
          
          <transition name="task">
          <section class="task-list-container" v-if="tasks.length" v-cloak>
            <div class="wrapper">
              <div class="all-check">
                <input type="checkbox"  id="toggle-all" v-model="allDone">
                <label for="toggle-all"></label>
                <label for="toggle-all" class="check-title">All Complete</label>
              </div>
              <!-- /.all-check -->
              <transition-group name="fade" class="task-list" tag="ul">

                <li class="task"
                  :class="{completed: task.completed, editing: task == editedTask }"
                  v-for="task in filterTasks"
                  :key="task.id"
                >
                  <div class="view">
                    <div class="task-set">
                      <input type="checkbox" :id="task.id +1" v-model="task.completed">
                      <label :for="task.id+1"></label>
                      <label class="task-title"  :for="task.id+1" @dblclick="editTask(task)" >{{task.title}}</label>
                    </div>
                    <div class="button-parts">
                      <button class="edit-btn" @click="editTask(task)" title="再編集ボタン">
                        <i class="fas fa-edit"></i>
                      </button>
                      <button class="destroy" @click="removeTask(task)" title="削除ボタン">
                        <i class="fas fa-trash-alt"></i>
                      </button>
                    </div>
                  </div>
                  <input 
                    type="text" 
                    class="edit"
                    v-model="task.title"
                    v-todo-focus ="task == editedTask"
                    @keypress.enter="doneEdit(task)"
                    @keyup.esc="canselEdit(task)" 
                    @blur="doneEdit(task)"
                    >
                </li>
    
              </transition-group>
              
            </div>
            <!-- /.wrapper -->
          </section>
          <!-- /.task-list-container -->
          </transition>

          <transition name="main-footer">
          <footer class="main-footer"  v-show="tasks.length" v-cloak>
            <div class="wrapper">
              <div class="task-count">
                <strong>{{remaining}}</strong> {{remaining | pluralize }} left
              </div>
              <!-- /.task-count -->
    
              <ul class="filters">
                <li class="sort-btn" :class= "{selected: visibility == 'all'}" ><a href="#/all">All</a></li>
                <li class="sort-btn" :class= "{selected: visibility == 'active'}" ><a href="#/active">Active</a></li>
                
                <li class="sort-btn" :class= "{selected: visibility == 'completed'}" ><a href="#/completed">Completed</a></li>
              </ul>
              <!-- /.filters -->
    
              <transition name="complte">
                <div class="clear-complte" v-show="tasks.length > remaining" v-cloak>
                  <button  @click="removeCompleted">
                    Clear Complete
                  </button>
                </div>
                <!-- /.clear-complte -->
              </transition>
              
            </div>
          </footer>
            <!-- /.main-footer -->
          </transition>
          
        </section>
        <!-- /.task-section -->
        
   
        <transition name="nothing" mode="out-in">
          <section class="nothing"  v-if="!tasks.length">
            <div class="wrapper">
              <p>
                <span
                  class="item"
                  v-for="(t,index) in nothingTitle"
                  :key="index"
                  v-text="t"
                  :style="{animationDelay:index*80+'ms'}"
                >
                </span>
                <!-- {{nothingTitle}} -->
              </p>
            </div>
          </section>
  
        </transition>
      </section>
      <!-- /.tasklist -->
      

    </main>
    <!-- /.contents -->

  </section>
  <!-- /#app -->

    <script src="./dist/js/script.min.js" defer></script>
  
</body>
</html>